## 10818 최소, 최대
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.
### 입력
- 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
### 출력
- 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.
### 예제 입력 1
- 5
- 20 10 35 30 7
### 예제 출력 1
- 7 35

In [6]:
n = int(input())
list_n = input().split()   #split(arg): arg를 토큰으로 쪼개서 리스트를 만든다. arg 생략시 공백 기준
max = int(list_n[0])
min = int(list_n[0])

for i in list_n:
    if(max < int(i)):
        max = int(i)
        continue
    
    if(min > int(i)):
        min = int(i)

print(min, max)

5
20 10 35 30 7
7 35

## 2562 최댓값
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.
예를 들어, 서로 다른 9개의 자연수
3, 29, 38, 12, 57, 74, 40, 85, 61
이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.
### 입력
- 첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.
### 출력
- 첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.
### 예제 입력 1
- 3
- 29
- 38
- 12
- 57
- 74
- 40
- 85
- 61
### 예제 출력 1
- 85
- 8

In [2]:
list_n = []
i = 0
max_n = 0
idx = 0

while i < 9:
    n = int(input())
    list_n.append(n)
    i += 1

for i in range(len(list_n)):
    if(max_n < list_n[i]):
        max_n = list_n[i]
        idx = i
        
print(max_n)
print(idx + 1)

3
8
5
4
9
77
1
2
6
77
6

## 2577 숫자의 개수
세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.
예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.
### 입력
- 첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 크거나 같고, 1,000보다 작은 자연수이다.
### 출력
- 첫째 줄에는 A × B × C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A × B × C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.
### 예제 입력 1
- 150
- 266
- 427
### 예제 출력 1
- 3
- 1
- 0
- 2
- 0
- 0
- 0
- 2
- 0
- 0

In [3]:
i = 0
list_n = []

while i < 3:
    n = int(input())
    list_n.append(n)
    i += 1

#map(function, iterable)
#map(함수, 반복가능한 객체), map객체로 리턴   # ex) 리스트, 튜플 등
list_mul_n = list(map(int, str(list_n[0] * list_n[1] * list_n[2])))

for i in range(10):
    result = 0
    for j in list_mul_n:
        if(i == j):
            result += 1
    print(result)

'''
Q1. int가 단순히 데이터 타입을 알려주는 게 아니라 int타입으로 바꿔주면서 단독으로 쓰이는 function인가요 ?
A1. map() 함수는 각각의 반복되는 요소를 계산하는 이터래터를 만듭니다.
그래서 int 는 타입이 아니라 각각의 반복되는 요소를 정수형을 변환하는 객체로 사용되는 것 입니다. 암묵적으로 각각의 요소를 넣어준다고 보면 됩니다.

Q2. Q1에 대한 대답이 맞다면, str등도 동일한 건가요 ?!
A2. str 도 역시 동일하고 `help(str), help(int)` 명령어를 통해 객체의 정의를 살펴보시면 해당 객체를 이해하는데 도움이 되실 것 같습니다.

Q3. split 메서드에 인자를 넣으면 그 인자 기준으로 구분 짓고 아닐 경우 공백으로 구분 지어서 리스트를 리턴한다고 알고 있습니다.
리스트로 리턴 되기 때문에 map메서드에서 iterable 인자 자리에 input.split()로 쓸 수 있는 게 맞을까요 ?

A3. split() 의 리턴은 리스트를 반환합니다.
리스트는 반복자(iterable) 형입니다. map 함수의 인자의 첫번째는 함수이고 두번째는 iterable 한 오브젝트가 오면 되고 내부적으로 next() 매서드를 이용해서 리스트를 순환합니다. split() 반환형이 리스트이기 때문에 가능합니다.
'''

5
8
4
1
1
0
0
0
0
1
0
0
0

'\nQ1. int가 단순히 데이터 타입을 알려주는 게 아니라 int타입으로 바꿔주면서 단독으로 쓰이는 function인가요 ?\nA1. map() 함수는 각각의 반복되는 요소를 계산하는 이터래터를 만듭니다.\n그래서 int 는 타입이 아니라 각각의 반복되는 요소를 정수형을 변환하는 객체로 사용되는 것 입니다. 암묵적으로 각각의 요소를 넣어준다고 보면 됩니다.\n\nQ2. Q1에 대한 대답이 맞다면, str등도 동일한 건가요 ?!\nA2. str 도 역시 동일하고 `help(str), help(int)` 명령어를 통해 객체의 정의를 살펴보시면 해당 객체를 이해하는데 도움이 되실 것 같습니다.\n\nQ3. split 메서드에 인자를 넣으면 그 인자 기준으로 구분 짓고 아닐 경우 공백으로 구분 지어서 리스트를 리턴한다고 알고 있습니다.\n리스트로 리턴 되기 때문에 map메서드에서 iterable 인자 자리에 input.split()로 쓸 수 있는 게 맞을까요 ?\n\nA3. split() 의 리턴은 리스트를 반환합니다.\n리스트는 반복자(iterable) 형입니다. map 함수의 인자의 첫번째는 함수이고 두번째는 iterable 한 오브젝트가 오면 되고 내부적으로 next() 매서드를 이용해서 리스트를 순환합니다. split() 반환형이 리스트이기 때문에 가능합니다.\n'

## 3052 나머지
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 
수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.
### 입력
- 첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다. 이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다.
### 출력
- 첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.
### 예제 입력 1
- 1
- 2
- 3
- 4
- 5
- 6
- 7
- 8
- 9
- 10
### 예제 출력 1
- 10

In [4]:
i = 0
list_n = []
list_t = []

while i < 10:
    n = int(input())
    list_n.append(n)
    i += 1
    
for i in list_n:
    list_t.append(i % 42)

list_t = set(list_t)   #set은 집합 자료형으로서 중복허용X, 순서X
        
print(len(list_t))

42
84
252
420
840
42
84
420
126
1
2

## 1546 평균
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.
예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.
세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.
### 입력
- 첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.
### 출력
- 첫째 줄에 새로운 평균을 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-2 이하이면 정답이다.
### 예제 입력 1
- 3
- 40 80 60
### 예제 출력 1
- 75.0
### 예제 입력 2
- 3
- 10 20 30
### 예제 출력 2
- 66.666667

In [5]:
n = int(input())
list_score = list(map(int, input().split())) # ★★★

m = list_score[0]
summ = 0
avg = 0
      
for i in range(1, len(list_score)):
    if list_score[i] > m:
        m = list_score[i]

for i in range(len(list_score)):
    list_score[i] = list_score[i] / m * 100
    
for i in range(len(list_score)):
    summ += list_score[i]
    
avg = summ/len(list_score)
    
print(round(avg, 7))

4
10 20 0 100
32.5

## 8958 OX퀴즈
"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.
"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.
OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.
### 입력
- 첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.
### 출력
- 각 테스트 케이스마다 점수를 출력한다. 
### 예제 입력 1
- 5
- OOXXOXXOOO
- OOXXOOXXOO
- OXOXOXOXOXOXOX
- OOOOOOOOOO
- OOOOXOOOOXOOOOX
### 예제 출력 1
- 10
- 9
- 7
- 55
- 30

In [5]:
n = int(input())
i = 0
while i < 5:
    s = input()
    summ = 0
    cnt = 0
    for j in s:
        if j == 'O':
            cnt += 1
            summ += cnt
        else:
            cnt = 0
    print(summ)
    i += 1

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

## 4344 평균은 넘겠지
대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.
### 입력
- 첫째 줄에는 테스트 케이스의 개수 C가 주어진다.
- 둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.
### 출력
- 각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.
### 예제 입력 1
- 5
- 5 50 50 70 80 100
- 7 100 95 90 80 70 60 50
- 3 70 90 80
- 3 70 90 81
- 9 100 99 98 97 96 95 94 93 91
### 예제 출력 1
- 40.000%
- 57.143%
- 33.333%
- 66.667%
- 55.556%

In [23]:
c = int(input())
i = 0

while i < c:
    avg = 0
    cnt = 0
    result = 0
    t = list(map(int, input().split()))
    avg = round(((sum(t[1:])) / t[0]), 3)
    for j, v in enumerate(t):
        if j > 0 and v > avg:
            cnt += 1
    result = format((cnt / t[0]) * 100, ".3f")   #format(): 소수점 자리수 조절
    print(result, '%', sep='')
    i += 1

1
5 50 50 70 80 100
40.000%